<h2>Order Details</h2>
<div class="row">
  <div class="col-12">
    <p>#Order: <%= @order.id %></p>
    <p>Product Name: <%= @order.product.name %></p>
    <p>Product Description: <%= @order.product.description %></p>
    <p>Product Price: <%= number_to_currency(@order.product.price, unit:'€', separator:',') %></p>
    <p>Total Order: <%= number_to_currency(@order.total, unit:'€', separator:',') %></p>
  </div>
</div>