<h2>Order Details</h2>
<div class="row orders__details-container">
  <div class="col-12 orders__details-img">
    <%= image_tag(@order.product.image_url, class:'img-fluid') %>
  </div>
  <div class="col-12 orders__details-info">
    <p>#Order: <%= @order.id %></p>
    <p>Product Name: <%= @order.product.name %></p>
    <p>Product Description: <%= @order.product.description %></p>
    <p>Total Order: <%= number_to_currency(@order.total, unit:'€', separator:',') %></p>
  </div>
</div>