<div class="row products__details-header">
  <div class="col-5">
    <%= image_tag(
        @product.image_url,
        class:'img-thumbnail img-zoom',
        data_zoom_image: @product.image_url) %>
  </div>
  <div class="col-7 text-center">
    <h2><%= @product.name %></h2>
    <p>
      <strong>Preis:</strong>
      <%= number_to_currency(@product.price, unit: '€') %>
    </p>
    <p>
      <strong>Bewertungen:</strong>
      <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: 'shared/stripe_checkout_button' %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  </div>
</div>
<div data-product-id="<%= @product.id %>" class="row products__details-info mt-4">
  <div class="col-12">
    <h3>Information des Produktes</h3>
    <hr>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <hr>
    <h3>Bewertungen</h3>
    <div class="alert alert-info" style="display:none" role="alert">
      Eine neue Bewertung ist gepostet!
    </div>
    <%= render 'comments' %>
    <%= render 'new_comment' %>
  </div>
</div>
<% if signed_in? && current_user.admin? %>
<div class="row products__action-buttons mt-4">
  <div class="col-12">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
<% end %>









