<div class="row products__details-header">
  <div class="col-5">
    <%= image_tag(@product.image_url, class:'img-thumbnail') %>
  </div>
  <div class="col-7 text-center">
    <h2><%= @product.name %></h2>
    <p>
      <strong>Preis:</strong>
      <%= number_to_currency(@product.price, unit: '€') %>
    </p>
    <p>
      <strong>Bewertungen:</strong>
      <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>
  </div>
</div>
<div class="row products__details-info mt-4">
  <div class="col-12">
    <h3>Information des Produktes</h3>
    <hr>
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <hr>
    <h3>Bewertungen</h3>
    <%= render 'comments' %>
    <%= render 'new_comment' %>
  </div>
</div>
<div class="row products__action-buttons mt-4">
  <div class="col-12">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>









