<!DOCTYPE html>
<html>
  <head>
    <title>Fabis Küchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light fabiskuechens-bg__yellow">
      <%= link_to "Fabis Küchen", root_path, class: 'navbar-brand' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "Deine Bestellungen", orders_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Unsere Produkte", products_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Über Uns", static_pages_about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Kontaktieren", static_pages_contact_path, class: 'nav-link' %>
          </li>
        </ul>
        |
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to raw('<i class="fas fa-sign-out-alt"></i> Logout'),
              destroy_user_session_path,
              method: :delete,
              class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to link_to raw('<i class="fas fa-sign-in-alt"></i> Login'),
              new_user_session_path,
              class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <%= form_with(
            url: products_path,
            method: 'get',
            local: true,
            class: 'form-inline') do |form| %>
          <%= form.text_field :q,
              id: 'q',
              value: params[:q],
              placeholder: 'Suchen...',
              class: 'form-control mr-sm-2' %>
          <%= form.submit 'Los!', class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>
      </div>
    </nav>

    <main class="main-content">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <% if notice %>
              <div id="notice" class="alert alert-dark" role="alert">
                <%= notice %>
              </div>
            <% end %>
            <% if alert %>
              <div id="alert" class="alert alert-dark" role="alert">
                <%= alert %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer fabiskuechens-bg__yellow text-center">
      <div class="container">
        &copy; 2018 Fabis Küchen
      </div>
    </footer>
  </body>
</html>
